<div class="container">
    <div class="card">
        <a class="btn btn-success" (click)="newDepto">Agregar Departamento</a>        
        <div class="card-body">
            <h2>Listado de Departamentos</h2>
            <table class="table table-striped">
                <thead class="table">
                    <tr>
                        <th class="row">Nombre</th>
                    </tr>
                </thead>
                <tbody class="table">
                    <tr *ngFor="let d of Departamento">
                        <td>{{ d.nombre }}</td>
                        <td><button class="btn btn-warning">Modificar</button></td>
                        <td><button class="btn btn-danger" onclick="confirm('Confirma elimnar el departamento')">Eliminar</button></td>
                        <td><a class="btn btn-info" routerLink="municipio/{{ d.id }}" routerLink="active">Ver Municipios</a></td>  
                    </tr>       
                </tbody>
            </table>
        </div>
    </div>
</div>


